{% if site.leancloud.enable %}
<script src="https://cdn1.lncld.net/static/js/3.10.0/av-min.js"></script>
<script>AV.initialize("{{site.leancloud.app_id}}", "{{site.leancloud.app_key}}");</script>
<script>
var ip = "1.2.3.4";
var country ="CN";
//定义一个全局当前IP访问记录对象

var Counter = AV.Object.extend("Counter");
var Visitor_record = AV.Object.extend("Visitor_record");
//调用API获取IP
function getVisitorIpAndJudge(Visitor_record) {
  //note by PriestTomb 2020-01-15
  //freegeoip获取ip
  //用json格式获取
  var options = {
    type: 'GET',
    dataType: "json",
    url: "https://api.ipify.org/?format=json"
  };
  $.ajax(options)
  .done(function(data, textStatus, jqXHR) {
    if(textStatus == "success") {
      try {
        ip = data.ip;
        country =data.country_code;
      } catch (e) {
        if(window.console){
          console.log(e.message);
        }
      }
    }
    Judge(Visitor_record);
  });
}

function Judge(Visitor_record){
    var $visitors = $(".leancloud_visitors");

    var title = $visitors.attr('data-flag-title').trim();
    var curTime = new Date().getTime();

    var queryIp = new AV.Query(Visitor_record);
    queryIp.equalTo('ip', ip);
    queryIp.equalTo('title', title);
    queryIp.find().then(function (results) {
        {
            try{
            if (results.length > 0) {
                var lastTime = results[0].get('lastTime');
                var timePassed =curTime - lastTime;
                if(timePassed > 1 * 60 * 1000) {
                    if(window.console){
                      results[0].fetchWhenSave(true);
                      results[0].set('lastTime',curTime);
                      results[0].save(null, {});
                    }
                    addCount(Counter);
                } else {
                }
            } else {
                addCount(Counter);
                // 执行这里，说明LeanCloud中还没有记录此文章
                var newVisitor_record = new Visitor_record();
                /* Set ACL */
                var aclip = new AV.ACL();
                aclip.setPublicReadAccess(true);
                aclip.setPublicWriteAccess(true);
                newVisitor_record.setACL(aclip);
                /* End Set ACL */
                newVisitor_record.set("title", title);
                newVisitor_record.set("ip",ip);
                newVisitor_record.set("lastTime", curTime);
                newVisitor_record.save(null, {
                    success: function () {
                        console.log('createNewRecord');
                    },
                    error: function () {
                        console.log('Failed to create');
                    }
                });
            }}catch{
                console.log("error");
            }
        }
    });
}


// ip

function showHitCount(Counter) {
    /* 这是给一个页面中有多篇文章时所调用的，例如博客主界面或者存档界面。
    */
    var query = new AV.Query(Counter);
    var entries = [];
    var $visitors = $(".leancloud_visitors");

    // 获取页面中所有文章的id（page.url）
    $visitors.each(function () {
        entries.push($(this).attr("id").trim());
    });

    // 批量查询
    query.containedIn('url', entries);
    query.find().then(function (results) {
        var COUNT_CONTAINER_REF = '.leancloud-visitors-count';

        if (results.length === 0) {
            $visitors.find(COUNT_CONTAINER_REF).text(1);
            return;
        }

        for (var i = 0; i < results.length; i++) {
            var item = results[i];
            var url = item.get('url');
            var hits = item.get('hits');
            var element = document.getElementById(url);

            // 显示点击次数
            $(element).find(COUNT_CONTAINER_REF).text(hits);
        }
        for (var i = 0; i < entries.length; i++) {
            var url = entries[i];
            var element = document.getElementById(url);
            var countSpan = $(element).find(COUNT_CONTAINER_REF);
            if (countSpan.text() == '') {
                countSpan.text(1);
            }
        }
    })
}

function addCount(Counter) {
    var $visitors = $(".leancloud_visitors");
    var url = $visitors.attr('id').trim();
    var title = $visitors.attr('data-flag-title').trim();
    var query = new AV.Query(Counter);
    query.equalTo('url', url);
    query.find().then(function (results) {
        {
            if (results.length > 0) {
                var counter = results[0];
                counter.fetchWhenSave(true);
                counter.increment("hits");
                counter.save(null, {
                    success: function (counter) {
                        var $element = $(document.getElementById(url));
                        $element.find('.leancloud-visitors-count').text(counter.get('hits'));
                    },
                    error: function (counter, error) {
                        console.log('Failed to save Visitor num, with error message: ' + error.message);
                    }
                });
            } else {
                var newcounter = new Counter();
                var acl = new AV.ACL();
                acl.setPublicReadAccess(true);
                acl.setPublicWriteAccess(true);
                newcounter.setACL(acl);
                newcounter.set("title", title);
                newcounter.set("url", url);
                newcounter.set("hits", 1);
                newcounter.save(null, {
                    success: function (newcounter) {
                        var $element = $(document.getElementById(url));
                        $element.find('.leancloud-visitors-count').text(newcounter.get('hits'));
                        console.log('create');
                    },
                    error: function (newcounter, error) {
                        console.log('Failed to create');
                    }
                });
            }
        }
    });
}

$(function () {

    if ($('.leancloud_visitors').length == 1) {
        getVisitorIpAndJudge(Visitor_record);
        showHitCount(Counter);
    } else if ($('.post-link').length > 1) {
        showHitCount(Counter);
    }
});
</script>


{% endif %}